body{
	margin: 0px;
	padding: 0px;
}

#wrap{
	width: 1050px;
	margin: 0 auto;
}

#topBar{
	float: left;
	width: 77.9%;
	height: 100px;
	position: absolute;
	z-index: 10;
	background: black;
	margin: 0px;
	padding: 0px;
}

#logo{
	position: relative;
	top: 0px;
	left: 0px;
}

#logoTree{
	float: left;
	position: absolute;
	top: 30px;
	left: 80px;
	z-index: 12;
}

#white{
	width: 200px;
	height: 130px;
	position: absolute;
	top: 0px;
	left: 55px;
	z-index: 11;
	background: white;
	box-shadow: 3px 3px 5px gray;
}

#name{
	position: absolute;
	top: -25px;
	left: 85px; 
	color: black;
	font-size: 30px;
	font-family:'Patua One', cursive;
	padding-top: 30px;
	text-align: center;
	z-index: 13;
}

#nameTop{
	margin: 0px;
	padding: 0px;
	position: relative;
	left: -10px;
}

#nameBottom{
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -10px;
	left: 25px;
}

#since{
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -15px;
	left: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

nav{
	height: 50px;
	width: 400px;
	position: absolute;
	left: 275px;
	top: 15px;
}

nav ul{
	list-style: none;
	padding: 0px;
}

nav ul li{
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

#contact{
	position: absolute;
	top: 47px;
	right: 0px;
	z-index: 14;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
}

#contact p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
}

#main{
	position: absolute;
	top: 50px;
	width: 100%;
	height: 600;
	margin: 0px;

}

#mainImage{
	position: absolute;
	z-index: 1;
	top: 50px;
	margin: 0px;
}

#mainWords{
	position: absolute;
	z-index: 2;
	top: 125px;
	left: 40%;
	font-family: 'Rock Salt', cursive;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
}

#mainTop{
	position: relative;
	padding: 0px;
	margin: 0px;
	left: -120px;
}

#mainBottom{
	position: relative;
	padding: 0px;
	margin: 0px;
	top: -25px;
}

#inspire{
	position: absolute;
	top: 720px;
	margin: 0 auto;
	width: 77.9%;
	height: 50px;
	background: black;
}
#inspire h3{
	font-size: 35px;
	font-family:'Patua One', cursive;
	color: white;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;

}

#gallery{
	position: absolute;
	top: 790px;
	width: 77.9%;
	height: 600px;
	left: 265px;
	z-index: 11;
}

#photo1{
	float: left;
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
}

#photo2{
	float: left;
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
}

#photo3{
	float: left;
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
}

#photo4{
	float: left;
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
}

#photo5{
	float: left;
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
}

#photo6{
	float: left;
	height:250px;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
}

#covers{
	position: absolute;
	top: 790px;
	width: 77.9%;
	height: 600px;
	left: 265px;
	z-index: 12;
}

#cover1{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 0;
}

#cover1:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 1;
}

#cover1 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover2{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity:0;

}

#cover2:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity:1;

}

#cover2 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover3{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 0;
}

#cover3:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 1;
}

#cover3 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover4{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 0;

}

#cover4:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 1;

}

#cover4 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover5{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 0;
}

#cover5:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 1;
}

#cover5 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover6{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 0;

}

#cover6:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 250px;
	width: 250px;
	margin: 15px;
	opacity: 1;

}

#cover6 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#footer{
	position: absolute;
	top: 1375px;
	margin: 0 auto;
	height: 150px;
	width: 77.9%;
	background: rgba(25, 25, 25, 1);
}

#navBar{
	position: absolute;
	top: 1375px;
	height: 50px;
	width: 77.9%;
	background: black;
	z-index: 12;
	margin: 0 auto;


}

#navBar nav{
	height: 50px;
	width: 600px;
	position: absolute;
	left: 0px;
	top: -20px;
}

#navBar nav ul{
	list-style: none;
	padding: 0px;
}

#navBar nav ul li{
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
}

#copy{
	color: rgba(145, 145, 145, 1);
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
	position: absolute;
	top: -23px;
	left: 265px;
}

#contactFoot{
	position: absolute;
	top: 10px;
	right: 0px;
	z-index: 14;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
}

#contactFoot p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

li a:hover{
	color: blue;
}
#navBar li:hover{
	color: blue;
}

#contactFoot p:hover{
	color: blue;
}
#contact p:hover{
	color: blue;
}


/*Treehouses*/
#treeWords{
	position: absolute;
	top: 175px;
	margin: 0 auto;
	width: 77.9%;
	height: 50px;
}

#treeWords h2{
	font-size: 50px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;
}

#treeWords p{
	font-size: 35px;
	font-family:'Open Sans Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;
}

#houseHolder{
	position: absolute;
	top: 340px;
	width: 30%;
	height: 600px;
	left: 495px;
	z-index: 11;
}

#tree1{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree2{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree3{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree4{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree5{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree6{
	float: left;
	height:150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree7{
	float: left;
	height:150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree8{
	float: left;
	height:150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#box1{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 270px; 
	box-shadow: 3px 3px 5px gray;
	display: none;
}

#box1 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box1 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box2{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 270px; 
	right: 140px;
	box-shadow: 3px 3px 5px gray;
	display: none;
}

#box2 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box2 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 300px;
}

#box3{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 340px; 
	box-shadow: 3px 3px 5px gray;
	display: none;
}

#box3 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box3 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box4{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 340px; 
	right: 140px;
	box-shadow: 3px 3px 5px gray;
	display: none;
}

#box4 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box4 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box5{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 500px; 
	display: none;
	box-shadow: 3px 3px 5px gray;

}

#box5 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box5 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box6{
	height: 600px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 500px; 
	right: 140px;
	display: none;
	box-shadow: 3px 3px 5px gray;

}

#box6 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box6 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box7{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 650px; 
	display: none;
	box-shadow: 3px 3px 5px gray;

}

#box7 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box7 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box8{
	height: 450px;
	width: 300px;
	z-index: 20;
	position: absolute;
	top: 650px; 
	right: 140px;
	display: none;
	box-shadow: 3px 3px 5px gray;

}

#box8 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box8 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}


#footerTree{
	position: absolute;
	top: 1100px;
	margin: 0 auto;
	height: 150px;
	width: 77.9%;
	background: rgba(25, 25, 25, 1);
}

#navBarTree{
	position: absolute;
	top: 1100px;
	height: 50px;
	width: 77.9%;
	background: black;
	z-index: 12;
	margin: 0 auto;


}

#navBarTree nav{
	height: 50px;
	width: 600px;
	position: absolute;
	left: 0px;
	top: -20px;
}

#navBarTree nav ul{
	list-style: none;
	padding: 0px;
}

#navBarTree nav ul li{
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
}

#copy{
	color: rgba(145, 145, 145, 1);
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
	position: absolute;
	top: -23px;
	left: 265px;
}

#contactFoot{
	position: absolute;
	top: 10px;
	right: 0px;
	z-index: 14;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
}

#contactFoot p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}