body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#wrap{
	width: 960px;
	margin: 0 auto;
}

#topBar{
	float: left;
	width: 100vw;
	height: 130px;
	position: absolute;
	z-index: 10;
	background: black;
	margin: 0px;
	padding: 0px;
}

#logo{
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
}

#logoTree{
	float: left;
	position: absolute;
	top: 30px;
	left: 25px;
	z-index: 12;
}

#white{
	width: 200px;
	height: 130px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
	background: white;
	box-shadow: 3px 3px 5px gray;
}

#name{
	position: absolute;
	top: -25px;
	left: 30px; 
	color: black;
	font-size: 30px;
	font-family:'Patua One', cursive;
	padding-top: 30px;
	text-align: center;
	z-index: 13;
}

#nameTop{
	margin: 0px;
	padding: 0px;
	position: relative;
	left: -10px;
}

#nameBottom{
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -10px;
	left: 25px;
}

#since{
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -15px;
	left: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

nav{
	height: 50px;
	width: 100vw;
	position: absolute;
	left: 0px;
	top: 130px;
}

nav ul{
	list-style: none;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;
}

nav ul li{
	position: relative;
	top: -18px;
	left: 1px;
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	/*padding-left: 20px;
	padding-right: 20px;*/
	padding: 20px;
	font-size: 30px;
	width: 100vw;
	text-align: center;
	background: rgba(1, 1, 1, .8);
}

nav ul li a{
	color: white;
	text-decoration: none;
}

#contact{
	position: absolute;
	top: 47px;
	right: 50px;
	z-index: 14;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
}

#contact p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
}

#main{
	position: absolute;
	top: 320px;
	width: 100vw;
	height: 600;
	margin: 0px;

}

#mainImage{
	position: absolute;
	z-index: 1;
	top: 50px;
	margin: 0px;
	width: 100vw;
	height: 600px;
}

#mainImage img{
	height: 100%;
	width: 100%;
}

#mainWords{
	position: absolute;
	z-index: 2;
	top: 125px;
	left: 55%;
	font-family: 'Rock Salt', cursive;
	font-size: 22px;
	padding: 0px;
	margin: 0px;
}

#mainTop{
	position: relative;
	padding: 0px;
	margin: 0px;
	left: -90px;
}

#mainBottom{
	position: relative;
	padding: 0px;
	margin: 0px;
	top: -25px;
}

#inspire{
	position: absolute;
	top: 990px;
	margin: 0 auto;
	width: 100vw;
	height: 50px;
	background: black;
}
#inspire h3{
	font-size: 35px;
	font-family:'Patua One', cursive;
	color: white;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;

}

#gallery{
	position: absolute;
	top: 1050px;
	width: 50vw;
	height: 600px;
	left: 28%;
	z-index: 11;
}

#gallery img{
	height: 100%;
	width: 100%;
}

#photo1{
	float: left;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	/*padding: 15px;*/
}

#photo2{
	float: left;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	/*padding: 15px;*/
}

#photo3{
	float: left;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	/*padding: 15px;*/
}

#photo4{
	float: left;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	/*padding: 15px;*/
}

#photo5{
	float: left;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	/*padding: 15px;*/
}

#photo6{
	float: left;
	height:200px;
	width: 200px;
	margin: 0 auto;
	/*padding: 15px;*/
}

#covers{
	position: absolute;
	top: 1050px;
	width: 50vw;
	height: 600px;
	left: 28%;
	z-index: 12;
}

#cover1{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 0;
}

#cover1:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 1;
}

#cover1 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover2{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity:0;

}

#cover2:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
/*	margin: 15px;*/
	opacity:1;

}

#cover2 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover3{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 0;
}

#cover3:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
/*	margin: 15px;*/
	opacity: 1;
}

#cover3 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover4{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 0;

}

#cover4:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 1;

}

#cover4 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover5{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 0;
}

#cover5:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 1;
}

#cover5 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#cover6{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 0;

}

#cover6:hover{
	background: rgba(47, 47, 47, .5);
	float: left;
	height: 200px;
	width: 200px;
	/*margin: 15px;*/
	opacity: 1;

}

#cover6 p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 70px;
}

#footer{
	position: absolute;
	top: 1700px;
	margin: 0 auto;
	height: 150px;
	width: 100vw;
	background: rgba(25, 25, 25, 1);
}

#navBar{
	position: absolute;
	top: 1700px;
	height: 50px;
	width: 100vw;
	background: black;
	z-index: 12;
	margin: 0 auto;


}

#navBar nav{
	height: 50px;
	width: 100vw;
	position: absolute;
	left: 0px;
	top: -7px;
}

#navBar nav ul{
	list-style: none;
	padding: 0px;
}

#navBar nav ul li{
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
}

#copy{
	color: rgba(145, 145, 145, 1);
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
	position: absolute;
	top: -23px;
	left: 465px;
}

#contactFoot{
	position: absolute;
	top: 10px;
	right: 0px;
	z-index: 14;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
	display: none;
}

#contactFoot p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	display: none;
}

li a:hover{
	color: blue;
}
#navBar li:hover{
	color: blue;
}

#navBar nav ul li{
	width: 26vw;
}

#contactFoot p:hover{
	color: blue;
}
#contact p:hover{
	color: blue;
}


/*Treehouses*/
#treeWords{
	position: absolute;
	top: 360px;
	left: 50px;
	margin: 0 auto;
	width: 77.9%;
	height: 50px;
}

#treeWords h2{
	font-size: 50px;
	font-family:'Patua One', cursive;
	color: green;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;
}

#treeWords p{
	font-size: 35px;
	font-family:'Open Sans Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;
}

#houseHolder{
	position: absolute;
	top: 600px;
	width: 30%;
	height: 600px;
	left: 100px;
	z-index: 11;
	display: none;
}

#tree1{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree2{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree3{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree4{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree5{
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree6{
	float: left;
	height:150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree7{
	float: left;
	height:150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#tree8{
	float: left;
	height:150px;
	width: 150px;
	margin: 0 auto;
	padding: 10px;
}

#box1{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 600px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;
}

#box1 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box1 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box2{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 1100px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;

}

#box2 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box2 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 300px;
}

#box3{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 1600px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;
}

#box3 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box3 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box4{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 2100px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;
}

#box4 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box4 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box5{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 2600px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;

}

#box5 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box5 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box6{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 3100px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;

}

#box6 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box6 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box7{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 3600px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;

}

#box7 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box7 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#box8{
	height: 450px;
	width: 300px;
	position: absolute;
	top: 4100px;
	left: 80px;
	padding: 10px;
	box-shadow: 3px 3px 5px gray;


}

#box8 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#box8 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}


#footerTree{
	position: absolute;
	top: 4600px;
	margin: 0 auto;
	height: 150px;
	width: 100%;
	background: rgba(25, 25, 25, 1);
}

#navBarTree{
	position: absolute;
	top: 4600px;
	height: 50px;
	width: 100%;
	background: black;
	z-index: 12;
	margin: 0 auto;


}

#navBarTree nav{
	height: 40px;
	width: 600px;
	position: absolute;
	left: 0px;
	top: -20px;
}

#navBarTree nav ul{
	list-style: none;
	padding: 0px;
}

#navBarTree nav ul li{
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
	width: 27vw;
	margin-top: 20px;
}

#copy{
	color: rgba(145, 145, 145, 1);
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
	position: absolute;
	top: -23px;
	left: 265px;
}

#contactFoot{
	position: absolute;
	top: 10px;
	right: 0px;
	z-index: 14;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
}

#contactFoot p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}


/*Find*/
#findMain{
	position: absolute;
	top: 380px;
	left: 60px;
	margin: 0 auto;
	width: 77.9%;
	height: 50px;
}

#findMain h2{
	font-size: 50px;
	font-family:'Patua One', cursive;
	color: green;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 5px;
}

#where{
	position: absolute;
	top: 150px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
}

#where p{
	font-size: 35px;
	font-family:'Open Sans Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
	float: left;
	width: 100%;
}

select{
	float: left;
	height: 50px;
	width: 150px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	border-radius: 5px;
	margin-left: 25%;
	margin-top: 20px;

}


#comfort{
	position: absolute;
	top: 290px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
}

#comfort p{
	font-size: 35px;
	font-family:'Open Sans Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
	float: left;
	width: 100%;
}

select{
	float: left;
	height: 50px;
	width: 150px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	border-radius: 5px;
	margin-left: 43%;
	margin-top: 20px;

}

button{
	position: absolute;
	top: 445px;
	margin: 0 auto;
	width: 300px;
	height: 50px;
	margin-left: 10%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	border-radius: 5px;
}

#output{
	height: 450px;
	width: 100%;
	z-index: 20;
	position: absolute;
	top: 520px;
/*	margin-left: -800px;*/
}


#result1{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;
	/*position: absolute;
	top: 450px;*/
	/*display: none; */
	
}

#result1 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result1 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#result2{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;
	/*display: none; */
}

#result2 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result2 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 300px;
}

#result3{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;
}

#result3 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result3 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#result4{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;
}

#result4 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result4 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#result5{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;

}

#result5 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result5 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#result6{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;

}

#result6 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result6 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#result7{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;

}

#result7 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result7 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#result8{
	height: 450px;
	width: 300px;
	z-index: 20;
	margin: 10px;
	float: left;

}

#result8 h4{
	float: left;
	font-size: 35px;
	font-family:'Patua One', cursive;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#result8 p{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

/*Activity*/

#activityPics{
	position: absolute;
	top: 500px;
	width: 77.9%;
	height: 600px;
	z-index: 11;
}

#Do1{
	float: left;
	height: 300px;
	width: 480px;
	margin: 0 auto;
	padding: 5px;
}

#Do2{
	float: left;
	height: 300px;
	width: 616px;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#Do3{
	float: left;
	height: 300px;
	width: 560px;
	margin: 0 auto;
	padding: 5px;
}

#Do4{
	float: left;
	height: 300px;
	width: 470px;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#actWords{
	position: absolute;
	top: 280px;
	width: 77.9%;
	height: 600px;
	z-index: 12;
}

#top1{
	float: left;
	height: 300px;
	width: 414px;
	margin: 0 auto;
	padding: 5px;
}

#top2{
	float: left;
	height: 300px;
	width: 616px;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#top3{
	float: left;
	height: 300px;
	width: 590px;
	margin: 0 auto;
	padding: 5px;
}

#top4{
	float: left;
	height: 300px;
	width: 440px;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#actWords p {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 75px;
	font-weight: bold;
	position: relative;
	top: 130px;
	left: 25px;
}

#footerTree2{
	position: absolute;
	top: 1800px;
	margin: 0 auto;
	height: 150px;
	width: 100%;
	background: rgba(25, 25, 25, 1);
}

#navBarTree2{
	position: absolute;
	top: 1800px;
	height: 50px;
	width: 100%;
	background: black;
	z-index: 12;
	margin: 0 auto;


}

#navBarTree2 nav{
	height: 50px;
	width: 600px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#navBarTree2 nav ul{
	list-style: none;
	padding: 0px;
}

#navBarTree2 nav ul li{
	float: left;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
	width: 26vw;
}
